Repository Soundmark/test-mission-manager-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix, max lint --fix --stylelint-only

feat: 选择身份界面
  src/pages/SelectRole/index.tsx
  src/pages/SelectRole/service.ts
Due: none

chore: 安装及配置rsn，安装工具包
  .gitignore
  .npmrc
  .vscode/settings.json
  config/config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rsn.config.json
Due: prettier --cache --write

feat: sse配置
  src/app.tsx
  src/layout/SSERegister.tsx
  src/layout/index.tsx
  src/pages/Home/index.tsx
  src/pages/SelectRole/service.ts
  src/pages/SelectRole/type.ts
Due: none

chore: 主题改为暗色
  config/config.ts
  src/global.less
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: 团队管理页面
  src/pages/TeamManage/AddMemberModal.tsx
  src/pages/TeamManage/CreateModal.tsx
  src/pages/TeamManage/MemberModal.tsx
  src/pages/TeamManage/index.tsx
  src/pages/TeamManage/service.ts
  src/pages/TeamManage/type.ts
Due: none

chore: 安装plugin-dvax
  config/config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: 取消pro-layout，改成自写layout
  config/config.ts
  config/routes.ts
  src/app.tsx
  src/assets/.gitkeep
  src/icons/identity.svg
  src/icons/test.svg
  src/layout/index.tsx
  tailwind.config.js
Due: prettier --cache --write, eslint --fix

feat: 成员信息的储存改用model
  src/models/global.ts
  src/pages/TeamManage/CreateModal.tsx
  src/pages/TeamManage/MemberModal.tsx
  src/pages/TeamManage/index.tsx
Due: none

chore: antd locale
  config/config.ts
Due: none

feat: 身份管理修改
  config/routes.ts
  src/models/global.ts
  src/pages/RoleManage/CreateModal.tsx
  src/pages/RoleManage/RoleInfo.tsx
  src/pages/RoleManage/SelectRole.tsx
  src/pages/RoleManage/index.tsx
  src/pages/RoleManage/service.ts
  src/pages/RoleManage/type.ts
  src/pages/SelectRole/index.tsx
  src/pages/TeamManage/AddMemberModal.tsx
  src/pages/TeamManage/MemberModal.tsx
  src/pages/TeamManage/index.tsx
Due: none

feat: 枚举更新
  src/utils/enum.ts
Due: none

feat: sse和身份信息加载优化
  src/app.tsx
  src/layout/index.tsx
Due: none

chore: 删除无用代码
  src/pages/Home/index.less
  src/pages/Home/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: 任务管理页面
  config/routes.ts
  src/layout/index.tsx
  src/pages/MissionManage/CloseModal.tsx
  src/pages/MissionManage/FinishModal.tsx
  src/pages/MissionManage/ReassignModal.tsx
  src/pages/MissionManage/RemarkModal.tsx
  src/pages/MissionManage/index.tsx
Due: none

fix(layout): 样式优化
  src/layout/index.tsx
Due: none

chore: editorconfig
  .editorconfig
Due: none

fix(RoleManage): 优化
  src/pages/RoleManage/SelectRole.tsx
Due: none

feat(MissionManage): 调试获取任务列表接口
  src/pages/MissionManage/index.tsx
  src/pages/MissionManage/service.ts
  src/utils/enum.ts
Due: none

feat(TeamManage): 增加gitlab钩子功能
  src/pages/TeamManage/index.tsx
Due: none

feat(MIssionManage): 功能完善
  src/pages/MissionManage/CloseModal.tsx
  src/pages/MissionManage/index.tsx
  src/pages/MissionManage/service.ts
  src/pages/MissionManage/type.ts
  src/pages/RoleManage/type.ts
Due: none

feat: 将获取memberList抽离成公共hook
  src/app.tsx
  src/hooks/useMemberList.ts
  src/layout/index.tsx
  src/models/global.ts
  src/pages/MissionManage/index.tsx
  src/pages/RoleManage/RoleInfo.tsx
  src/pages/RoleManage/SelectRole.tsx
  src/pages/RoleManage/service.ts
  src/pages/TeamManage/AddMemberModal.tsx
  src/pages/TeamManage/MemberModal.tsx
  src/pages/TeamManage/index.tsx
  src/services/member.ts
Due: none

feat(MissionManage): 改派功能开发
  src/pages/MissionManage/ReassignModal.tsx
  src/pages/MissionManage/index.tsx
  src/pages/MissionManage/service.ts
Due: none

feat(MissionManage): 功能完善
  src/pages/MissionManage/AssessModal.tsx
  src/pages/MissionManage/CloseModal.tsx
  src/pages/MissionManage/ReassignModal.tsx
  src/pages/MissionManage/RemarkModal.tsx
  src/pages/MissionManage/index.tsx
  src/utils/enum.ts
Due: none

feat(MissionManage): 功能完善
  src/pages/MissionManage/AssessModal.tsx
  src/pages/MissionManage/index.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  eslint --fix: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
